/* App.css */

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  margin: 0;
  font-size: 16px; 
}

.container {
  max-width: 50rem; 
  margin: auto;
  padding: 1.25rem; 
}

label {
  display: block;
  margin-bottom: 0.3125rem;
  font-weight: bold;
}

input {
  padding: 0.625rem; 
  margin-bottom: 0.9375rem; 
  width: 100%;
  box-sizing: border-box;
  border: 0.0625rem solid #ccc; 
  border-radius: 0.25rem;
  transition: border-color 0.3s ease-in-out;
}

input:focus {
  outline: none;
  border-color: #0088FE;
}

input:hover {
  background-color: #f0f0f0;
}

/* Mobil cihazlara uyumlu responsive tasarım */

@media screen and (max-width: 37.5rem) { 
  input {
    width: calc(100% - 1.25rem); 
    margin-right: 0.625rem; 
  }

  label {
    font-size: 0.875rem; 
  }

  .container {
    padding: 0.625rem; 
  }
}
