/* App.css */

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  margin: 0;
}

.container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input {
  padding: 10px;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.3s ease-in-out;
}

input:focus {
  outline: none;
  border-color: #0088FE;
}

input:hover {
  background-color: #f0f0f0;
}

/* Mobil cihazlara uyumlu responsive tasarım */

@media screen and (max-width: 600px) {
  input {
    width: calc(100% - 20px);
    margin-right: 10px;
  }

  label {
    font-size: 14px;
  }

  .container {
    padding: 10px;
  }
}
